.beta-banner{
  color:white;
  background-color:#dd9914;
  text-align:center;
  border-bottom: 1px solid #FF9900;
  width:auto;
  font-size: 12px;
  height: 18px;
}

.admin-banner{
  color: black;
  background-color: cadetblue;
  text-align: center;
  border-bottom: 1 px solid #FF9900;
  width: auto;
  font-size: 14px;
  height: 20px;
}

.admin-banner{
  color:black;
  background-color: #dd0001;
  text-align:center;
  border-bottom: 1px solid #FF9900;
  width:auto;
  font-size: 16px;
  height: 20px;
}

.navbar-margin {
  margin-bottom: 0;
}
